/*
*= require_tree .
*= require_self
*/

div, body, p, article, section, h1, a, header {
  box-sizing: border-box;
  font-family: Michroma;
  background: #fcfefb;
  background: #999998;
}

header {
  /*background: #fcfefb;*/
}

body {
  font-family: sans-serif;
  color: #000000;
}

.main {
  /*background: #999998;*/
}

.header {
  width: 900px;
  margin: auto;
  text-align: center;
}

.synth {
  width: 900px;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  /*margin-top: 40px;*/
  text-align: center;
  /*background: #999998;*/
}

.synth-key {
  float: left;
  width: 50px;
  height: 240px;
  border: 1px solid #555555;
  background-color: white;
  transition: background-color 0.25s;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.synth-key-black {
  float: left;
  width: 27px;
  height: 150px;
  transform: translateX(-50%);
  border: 1px solid #555555;
  background-color: black;
  transition: background-color 0.15s;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.synth-key-black + .synth-key {
  margin-left: -27px;
}

.pressed {
  background-color: #001fa2;
}

.keys {
  clear: both;
  margin-left: 175px;
  margin-right: 175px;
  text-align: center;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.description {
  font-family: sans-serif;
  font-weight: bold;
  padding-top: 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: Michroma;
  font-weight: bold;
  /*background: #fcfefb;*/
}

.instructions {
  width: 900px;
  height: 200px;
  margin: auto;
  /*background: #999998;*/
}

.img-holder {
  padding: 10px;
  padding-left: 98px;
}

.instructions-img {
  /*-webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#00abeb), to(#fff), color-stop(0.5, #fff), color-stop(0.5, #66cc00)) 21 30 30 21 repeat repeat;*/
  border: 2px solid #ffffff;
  box-shadow: 15px #999998;
  width: 700px;
  margin: auto;
  border-radius: 8px;
  /*height: 100%;*/
}

.personal-details {
  text-align: center;
  padding-bottom: 10px;
}

.personal-detail {
  margin-left: 8px;
  margin-right: 8px;
}

.personal-details a:hover {
  text-decoration: underline;
}

.slider-container {
  /*position: relative;*/
  display: inline;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  width: 70px;
  height: 100px;
  text-align: center;
}

.slider-sub-container {
  position: relative;
  width: 70px;
  height: 100px;
}

.param-slider {
  position: absolute;
  /*margin-top: 40px;
  margin-right: 50px;*/
  top: 80px;
  left: -7.5px;
  transform: rotateZ(-90deg);
  width: 85px;
}

.slider-first-group {
  height: 80px;
  margin-left: 61px;
}

.slider-second-group {
  margin-left: 95px;
  margin-bottom: 30px;
}

.slider-group {
  margin: auto;
  text-align: center;
  width: 700px;
  padding-left: 40px;
}

.slider-label {
  position: absolute;
  font-size: 12px;
  text-align: center;
  width: 70px;
}

.filler {
}
